@font-face {
    font-family: "Roboto";
    src: url(RobotoTTF/Roboto-Regular.ttf) format("truetype");
}

* { 
    font-family: "Roboto", Arial;
}

table {
    width: 100%;
}

.page-content {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.correct {
    background: rgba(150, 250, 150, .5);
}
